html {
    overflow: scroll;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: #ffeeee;
    font-family: 'Times New Roman', Times, serif;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
}

.nav-link:hover {
    background-color: rgb(228, 63, 63);
}

.scrollarea {
    overflow-y: auto;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
    text-shadow: 4px 4px 5px white;
}

p {
    font-size: 18px;
    color: black;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    padding-top: 10px;
}

#img{
    border-radius: 5px;
    margin-right: 20px;
}